@model ShiftCaptain.Models.EmailNPass

@{
    ViewBag.Title = "Forgot Password";
}
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="row">
        <div class="small-12 large-12 columns">
            Please enter your email address.
        </div>
        <div class="small-12 large-2 columns">
            @Html.TextBoxFor(m => m.EmailAddress)
            @Html.ValidationMessageFor(m => m.EmailAddress)
        </div>
        <div class="small-12 large-12 columns left">
            <input type="submit" value="Send Email" />
        </div>
        <div class="small-12 large-12 columns error-message">
            @Html.ValidationMessage("CustomError")
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
