
@{
    ViewBag.Title = "Index";
}

@section header {
    @if((ShiftCaptain.Infrastructure.SessionManager.IsManager || ShiftCaptain.Infrastructure.SessionManager.IsShiftManager) && !ViewBag.CurrentVersion.IsApproved){
        <section id="Employees">
            <div class="row">
            </div>
        </section>
    }
    <section id="Errors"></section>
    <section id="Dropdowns" class="row">
        <div class="small-12 large-4 columns">
            <label for="BuildingID">Building</label>
            @Html.DropDownList("BuildingID")
        </div>
        <div class="small-12 large-4 columns">
            <label for="RoomID">Room</label>
            @Html.DropDownList("RoomID")
        </div>
        <div class="small-12 large-4 columns">
            @if((ShiftCaptain.Infrastructure.SessionManager.IsManager || ShiftCaptain.Infrastructure.SessionManager.IsShiftManager) && !ViewBag.CurrentVersion.IsApproved){
                <label for="ShiftDuration">Shift Length</label>
                <select id="ShiftDuration">
                    <option value="2">2 hours</option>
                    <option value="2.5">2 1/2 hours</option>
                    <option value="3">3 hours</option>
                    <option value="3.5">3 1/2 hours</option>
                    <option value="4" selected="selected">4 hours</option>
                    <option value="4.5">4 1/2 hours</option>
                    <option value="5">5 hours</option>
                    <option value="5.5">5 1/2 hours</option>
                    <option value="6">6 hours</option>
                    <option value="6.5">6 1/2 hours</option>
                </select>
            }
        </div>
        <div class="small-12 large-12 columns left links">
            @if(!ViewBag.CurrentVersion.IsReadyForApproval){
                @Html.ActionLink("Validate Schedule", "ValidateSchedule", "ManageSchedule", new { id = ViewBag.CurrentVersion.Id }, new { target = "_blank"})
            }
            else if (ViewBag.CurrentVersion.IsReadyForApproval && !ViewBag.CurrentVersion.IsApproved)
            {
                @Html.ActionLink("Approve Schedule", "ApproveSchedule", "ManageSchedule", new { id = ViewBag.CurrentVersion.Id }, new { target = "_blank"})
            }else if(ViewBag.CurrentVersion.IsApproved){
                <p>Version is approved.</p>
            }
        </div>
    </section>
}
<section id="shiftHolder" class="drop-section">
    <div class="row">
        <div class="small-12 large-12 columns">
            <table>
            </table>
        </div>
    </div>
</section>
@Html.Partial("Templates/_User")
@Html.Partial("Tip/_User")
@Html.Partial("Tip/_Shift")
@section scripts {
    @Scripts.Render("~/Scripts/Shift/CRUD.js")
    @Scripts.Render("~/Scripts/ShiftPreference/CRUD.js")
    @Scripts.Render("~/Scripts/Room/CRUD.js")
    @Scripts.Render("~/Scripts/User/CRUD.js")
    @Scripts.Render("~/Scripts/DragNDrop/drag-n-drop.js")
    @Scripts.Render("~/Scripts/CommonShift.js")
    @if((ShiftCaptain.Infrastructure.SessionManager.IsManager || ShiftCaptain.Infrastructure.SessionManager.IsShiftManager) && !ViewBag.CurrentVersion.IsApproved){
        @Scripts.Render("~/Scripts/Shift.js")
    }else{
        @Scripts.Render("~/Scripts/DisplayShift.js")
    }
}