@model ShiftCaptain.Models.RoomView

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

@if(ViewBag.CanDelete){
    <h3>Are you sure you want to delete this?</h3>
}else{
    <p>@ViewBag.CantDeleteReason</p>
}

<fieldset>
    <legend>RoomView</legend>
    @Html.HiddenFor(model => model.RoomInstanceId)

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BuildingName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BuildingName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RoomNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RoomNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PhoneNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PhoneNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SundayStartTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SundayStartTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SundayDuration)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SundayDuration)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MondayStartTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MondayStartTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MondayDuration)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MondayDuration)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TuesdayStartTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TuesdayStartTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TuesdayDuration)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TuesdayDuration)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WednesdayStartTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WednesdayStartTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WednesdayDuration)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WednesdayDuration)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ThursdayStartTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ThursdayStartTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ThursdayDuration)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ThursdayDuration)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FridayStartTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FridayStartTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FridayDuration)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FridayDuration)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SaturdayStartTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SaturdayStartTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SaturdayDuration)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SaturdayDuration)
    </div>
</fieldset>
@if(ViewBag.CanDelete){
    using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" value="Delete" /> |
            @Html.ActionLink("Back to List", "Index")
        </p>
    }
}else{
    <p>@ViewBag.CantDeleteReason</p>
}