@model IEnumerable<ShiftCaptain.Models.RoomView>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if(!ViewBag.CurrentVersion.IsApproved){
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="sortable">
    <tr><th>
            @Html.DisplayNameFor(model => model.BuildingName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            Sunday
            <ul>
                <li>Start</li>
                <li>Duration</li>
            </ul>
        </th>
        <th>
            Monday
            <ul>
                <li>Start</li>
                <li>Duration</li>
            </ul>
        </th>
        <th>
            Tuesday
            <ul>
                <li>Start</li>
                <li>Duration</li>
            </ul>
        </th>
        <th>
           Wednesday
            <ul>
                <li>Start</li>
                <li>Duration</li>
            </ul>
        </th>
        <th>
            Thursday
            <ul>
                <li>Start</li>
                <li>Duration</li>
            </ul>
        </th>
        <th>
            Friday
            <ul>
                <li>Start</li>
                <li>Duration</li>
            </ul>
        </th>
        <th>
            Saturday
            <ul>
                <li>Start</li>
                <li>Duration</li>
            </ul>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BuildingName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @if(item.SundayInstanceId.HasValue){
                <ul>
                    <li>@Html.DisplayFor(modelItem => item.SundayStartTime)</li>        
                    <li>@Html.DisplayFor(modelItem => item.SundayDuration)</li>
                </ul>
            }else{
                <p>N/A</p>
            }
        </td>
        <td>
            @if(item.MondayInstanceId.HasValue){
                <ul>
                    <li>@Html.DisplayFor(modelItem => item.MondayStartTime)</li>        
                    <li>@Html.DisplayFor(modelItem => item.MondayDuration)</li>
                </ul>
            }else{
                <p>N/A</p>
            }
        </td>
        <td>
            @if(item.TuesdayInstanceId.HasValue){
                <ul>
                    <li>@Html.DisplayFor(modelItem => item.TuesdayStartTime)</li>        
                    <li>@Html.DisplayFor(modelItem => item.TuesdayDuration)</li>
                </ul>
            }else{
                <p>N/A</p>
            }
        </td>
        <td>
            @if(item.WednesdayInstanceId.HasValue){
                <ul>
                    <li>@Html.DisplayFor(modelItem => item.WednesdayStartTime)</li>        
                    <li>@Html.DisplayFor(modelItem => item.WednesdayDuration)</li>
                </ul>
            }else{
                <p>N/A</p>
            }
        </td>
        <td>
            @if(item.ThursdayInstanceId.HasValue){
                <ul>
                    <li>@Html.DisplayFor(modelItem => item.ThursdayStartTime)</li>        
                    <li>@Html.DisplayFor(modelItem => item.ThursdayDuration)</li>
                </ul>
            }else{
                <p>N/A</p>
            }
        </td>
        <td>
            @if(item.FridayInstanceId.HasValue){
                <ul>
                    <li>@Html.DisplayFor(modelItem => item.FridayStartTime)</li>        
                    <li>@Html.DisplayFor(modelItem => item.FridayDuration)</li>
                </ul>
            }else{
                <p>N/A</p>
            }
        </td>
        <td>
            @if(item.SaturdayInstanceId.HasValue){
                <ul>
                    <li>@Html.DisplayFor(modelItem => item.SaturdayStartTime)</li>        
                    <li>@Html.DisplayFor(modelItem => item.SaturdayDuration)</li>
                </ul>
            }else{
                <p>N/A</p>
            }
        </td>
        <td>
            @if (ShiftCaptain.Infrastructure.SessionManager.IsManager && !ViewBag.CurrentVersion.IsApproved)
            { 
                @Html.ActionLink("Edit", "Edit", new { id = item.RoomId }) @Html.Raw(" | ") 
            } 
            @Html.ActionLink("Details", "Details", new { id=item.RoomId}) 
            @if(ShiftCaptain.Infrastructure.SessionManager.IsManager && (!item.RoomInstanceId.HasValue || !ViewBag.CurrentVersion.IsApproved))
            { 
                @Html.Raw(" | ") @Html.ActionLink("Delete", "Delete", new { id=item.RoomId }) 
            }
        </td>
    </tr>
}

</table>
@section scripts {
    @Scripts.Render("~/Scripts/sort.js")
}