@model ShiftCaptain.Models.Version

@{
    ViewBag.Title = "Delete Version";
}

<h2>Delete Version</h2>


@if(ViewBag.CanDelete){
    <h3>Are you sure you want to delete this?</h3>
}else{
    <p>@ViewBag.CantDeleteReason</p>
}
<fieldset>
    <legend>Version</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsActive)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsActive)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsVisible)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsVisible)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsReadyForApproval)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsReadyForApproval)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsApproved)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsApproved)
    </div>
</fieldset>
@if(ViewBag.CanDelete){
    using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" value="Delete" /> |
            @Html.ActionLink("Back to List", "Index")
        </p>
    }
}else{
    <p>@ViewBag.CantDeleteReason</p>
}
